<ion-header>
  <ion-toolbar>
    <ion-buttons class="back-btn" slot="start">
      <ion-button (click)="back()">
        <ion-icon style="color: white;" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="logo">
    <img [src]="data.img" />
  </div>
  <ion-row class="company-info">
    <ion-col size="5">
      <ion-label>{{data.name}}</ion-label>
    </ion-col>
    <ion-col size="5">
      <ion-label>{{data.type}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="company-info">
    <ion-col size="5">
      <ion-label>{{data.web}}</ion-label>
    </ion-col>
    <ion-col size="5">
      <ion-label>{{data.phone}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-button
    (click)="makeReview()"
    fill="clear"
    shape="round"
    class="bottom-button"
  >
    Make Review
  </ion-button>
  <ion-title>Latest Reviews</ion-title>
  <div class="reviews" *ngFor="let item of reviews" >
    <ion-row>
      <ion-col class="vertical-center" size="11">
        <ion-avatar>
          <img src="../../assets/images/placeholder.png" />
        </ion-avatar>
        <ion-label>{{item.name}}</ion-label>
      </ion-col>
      <ion-col size="1">
        <!-- <img src="../../assets/share.svg"> -->
        <ion-icon (click)="screenShotURI()"  name="share-social"></ion-icon>
      </ion-col>
    </ion-row>
    <rating id="contact-rating"
      size="default"
      [readonly] = "true"
      [rate] = "item.rating"
      (ngModelChange)="onModelChange($event)"
    >
    </rating>
    <ion-label class="title">{{item.subject}}</ion-label><br><br>
    <ion-label>{{item.comment}}</ion-label>
  </div>
</ion-content>

