<ion-content>
  <div class="logo">
    <img src="../../assets/_logo.png" />
  </div>
  <div class="main-div">
    <ion-title>Login</ion-title>
    <div class="inputs-div">
      <form [formGroup]="loginForm">
        <ion-input formControlName = "email" type="email" placeholder="Email"></ion-input>
        <ion-input formControlName = "password" type="password" placeholder="password"></ion-input>
      </form>
    </div>
    <ion-button (click)="login()" fill="clear" shape="round">
      Login
    </ion-button>
    <ion-button (click)="loginWithGoogle()" fill="clear" shape="round" id="google-btn">
      Login with Google
      <ion-icon name="logo-google"></ion-icon>
    </ion-button>
    <ion-row>
      <ion-col size="11">
        <ion-label (click)="forgotPassword()">Forgot password?</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-text vertical-center">
      <ion-col size="8">
        <p>Don't have an account?</p>
      </ion-col>
      <ion-col size="4">
        <ion-label routerDirection = "forward" routerLink="/signup">signup</ion-label>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
