<ion-header>
  <ion-toolbar>
    <ion-buttons class="back-btn" slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="info">
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing, elit ornare metus
      montes fermentum, curae aptent rutrum potenti diam. Vehicula rhoncus
      dictumst aliquet risus eget magna lacus parturient venenatis, malesuada
      dui sodales porttitor facilisis cursus conubia nunc, cum nullam rutrum
      molestie aliquam nam urna tellus. Nullam platea eget litora cum ac ornare
      metus ante, potenti aptent facilisis taciti volutpat justo mus, varius est
      fames placerat suspendisse euismod sollicitudin.<br /><br />
      Hendrerit cras augue euismod vulputate magna justo.
    </p>
  </div>
</ion-content>
