ion-header,ion-toolbar{
    --background: rgb(19, 25, 193);
    ion-back-button {
        left: 0;
        top: 2px;
        position: absolute;
        color: white;
    }
    ion-title {
        text-align: center;
        color: white;
    }
}
ion-content {
    ion-row {
        text-align: center;
        margin-top: 10%;
        ion-col {
            ion-label {
                color: rgb(19, 25, 193);
                font-size: 24px;
            }
        }
    }
    .inputs-div {
        width: 80%;
        margin-left: 10%;
        margin-top: 15%;
        ion-input {
            color: rgb(19, 25, 193);
            border-bottom: rgb(19, 25, 193) 1px solid;
            margin-top: 10%;
        }
    }
    .bottom-button{
        width: 80%;
        height: 40px;
        background-color: rgb(19, 25, 193);
        color: white;
        margin-left: 10%;
        margin-top: 15%;
        border-radius: 10px;
    }
}
.vertical-center {
    display: flex;
    text-align: center;
    align-items: center;
}
